body {
    font-size: 3em;
}

.embed-responsive{
    margin-top: 40px;
   
 }

 .band-image {
    display: block;
    margin: auto;
    width: 100%;
}

 h1 {
    font-size: 3em;
}

.label {
    font-size: 100%;
}



.dl-horizontal dd {
    margin-left: 340px;
}




